<% messages.map(msg => { %>
        <div class="message">
            <div class="author-date">
                <% if (isdev) { %>
                    <p onclick="window.isSecureContext ? navigator.clipboard.writeText('<%= msg.author %>') : document.getElementById('idcopy').textContent='<%= msg.author %>';document.getElementById('id-copy').showModal()"><%= msg.usrname %></p>
                <% } else { %>
                    <p><%= msg.usrname %></p>
                <% } %>
                <p class="date"><%= msg.date %></p>
            </div>
            <p class="content"><%= msg.content %></p>
        </div>
<% }) %>