<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="icon" href="../assets/icon.png">
    <title><%= roomName %> - chat-site</title>
</head>
<body>
    <input type="button" id="back-btn" value="back" onclick="window.location.pathname='/chats'" class="bare">
    <input type="text" id="chat-title" value="<%=roomName%>">
    <div id="message-container" style="border-top:solid dimgray 2px;">
        <% messages.map(msg => { %>
            <div class="message">
                <div class="author-date">
                    <p><%= msg.author %></p>
                    <p class="date"><%= msg.date %></p>
                </div>
                <p><%= msg.content %></p>
            </div>
        <% }) %>
    </div>
    <div id="entry-container" style="border-top:solid dimgray 2px;">
        <input type=file id="file-upload-hidden"style="display: none;">
        <button id="file-upload">+</button>
        <input id="entry" type="text" placeholder="send a message to <%= roomName %>">
        <p id="typing-label"> </p>
        <input id="to-pres" type="button" value="jump to present" onclick="jump_pres()" class="bare">
    </div>
    <script>
        const ent = document.getElementById("entry");
        document.addEventListener("keydown", (e) => {
            if (e.code.toString().indexOf("Key") < 0) {
                return;
            }
            if (ent.matches(":focus")) {
                return;
            }
            ent.focus();
            // ent.value += e.code.toString();
        });
        const t = document.getElementById("message-container");
        const to_pres = document.getElementById("to-pres");
        t.addEventListener("scroll", (e) => {
            const c = t.children[Math.max(t.length-1, t.length-15)];
            if (c.getBoundingClientRect().top >= t.getBoundingClientRect().bottom) {
                to_pres.hidden = false;
            } else {
                to_pres.hidden = true;
            }
        });
        function jump_pres () {
            t.scroll({left:0, top:t.scrollHeight, behavior:"smooth"});
        }
    </script>
</body>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script>
    const roomId = "<%= roomId %>"
</script>
<script src="../assets/js/room.js"></script>
</html>