<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="icon" href="../assets/icon.png">
    <title><%= roomName %> - chat-site</title>
    <script defer src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script>
        const roomId = "<%= roomId %>"
    </script>
    <script defer src="../assets/js/room.js"></script>
</head>
<body>
    <input type="button" id="back-btn" value="back" onclick="window.location.pathname='/chats'" class="bare">
    <input type="text" id="chat-title" value="<%=roomName%>">
    <div id="message-container" style="border-top:solid dimgray 2px;"> 
        <%- include("messages", {messages: messages, roomId: roomId, roomName: roomName}) %>
    </div>
    <div id="entry-container" style="border-top:solid dimgray 2px;">
        <input type="file" id="file-upload-hidden"style="display: none;">
        <button id="file-upload">+</button>
        <input id="entry" type="text" placeholder="send a message to <%= roomName %>">
        <p id="typing-label"> </p>
        <input id="to-pres" type="button" value="jump to present" onclick="jump_pres()" style="--a:0;">
    </div>
    <script>
        const ent = document.getElementById("entry");
        const room_name = document.getElementById("chat-title");
        document.addEventListener("keydown", (e) => {
            if (e.code.toString().indexOf("Key") < 0) {
                return;
            }
            if (room_name.matches(":focus")) {
                return;
            }
            if (ent.matches(":focus")) {
                return;
            }
            ent.focus();
        });
        const t = document.getElementById("message-container");
        const to_pres = document.getElementById("to-pres");
        let tph = true;
        t.addEventListener("scroll", (e) => {
            const ind =t.children.length-15;
            if (ind < 0) {
                return;
            }
            const c = t.children[ind];
            if (c.getBoundingClientRect().top >= t.getBoundingClientRect().bottom) {
                if (tph) {
                    tph = false;
                    to_pres.style.cssText = "";
                }
            } else {
                if (!tph) {
                    tph = true;
                    to_pres.style.cssText = "--a:0;";
                }
            }
        });
        function jump_pres () {
            t.scroll({left:0, top:t.scrollHeight, behavior:"smooth"});
        }
    </script>
</body>
</html>